@import url(https://fonts.googleapis.com/css?family=Poppins:400,300,500);

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

.whitespace{
    margin-bottom: 10px;
}

:root{  /*Закладываем для цветов определенное название и значение, чтобы в последующем использовать var()*/
    --main-color: #272c3f;
    /* --item-color: #2272FF; */
    --secondary-color: #12141d;
    --decoration-color: #ff5ef7;
    --xz-color: #5A0BD0;
    --item-color: #5A0BD0;
    --white: #fff;
}



body{
    background-color: #0b0b0b;
    font-family: 'Segoe UI', sans-serif;
}


/* header */

.header {
    background-image: linear-gradient(to top, rgba(11, 11, 11) 1%, rgba(30, 30, 30));
    
}


.container{
    margin: 0 25px 0 25px;
    padding: 10px;
}

.nav{
    display: flex;
    align-items: center;
    color: #fff;
}

.logo{
    font-size: 50px;;
}

.burger-menu {
    order: 1;
    cursor: pointer;
}

.burger-icon {
    font-size: 24px;
    margin-left: 15px;
}

.burger-menu-list {
    display: none;
    position: absolute;
    top: 60px; /* Расположение относительно верхнего края nav */
    right: 0;
    background: linear-gradient(to top, var(--item-color) 40%, var(--decoration-color));    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1; /* Позволяет бургер-меню быть поверх остального контента */
    list-style: none;
}

.burger-menu-list.show {
    display: block;
    margin-top: 26px;
}

.burger-menu-list a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.menu{
    display: flex;
    margin-left: auto;
}

.menu-item{
    list-style: none;
    margin-right: 40px;
}

.menu-link {
    text-decoration: none;
    font-size: 20px;
    position: relative;
    display: inline-block;
}

.menu-link::after {
    content: ""; /* остовляет контент пустым */
    display: block;
    width: 100%; /* занимает всю ширину кнопки */
    height: 2px; /* высота линии */
    background-color: var(--decoration-color); /* Цвет линии */
    position: absolute; /* Позицианирование абсолютное (для настройки bottom)*/
    bottom: -5px; /* Расположение линии -5px */
    transform: scaleX(0); /* Начальное состояние – линия невидима */
    transform-origin: bottom right; /* Линия уходит в правую сторону */
    transition: transform 0.3s ease-in-out; /* Плавное появление линии */
}

.menu-link:hover::after {
    transform: scaleX(1); /* При наведении линия становится видимой */
    transform-origin: bottom left; /* линия появляется с левой стороны */
}



.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 55px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background: var(--secondary-color);
    transition: 0.1s;
    
     }
     .button::after{
        content: "";
        width: 100%;
        height: 65%;
        background-image: radial-gradient(circle
        farthest-corner at 10% 20%, var(--decoration-color)17.8%,
        var(--item-color)100.2%);
        filter: blur(10px);
        z-index: -1;
        position: absolute;
     }
     .button:hover{
        transform: scale(0.9);
        background-image: radial-gradient(circle
        farthest-corner at 10% 20%, var(--decoration-color) 17.8%,
        var(--item-color) 100.2%);
        transition: 0.2s;
     } 
